extends base.pug


block content
    div 
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;<!-- edit앞에 /를 지우면 videos/edit으로 가고 /를 붙이면 localhost:3000/edit으로 감 -->